@import org.webjars.play.RequireJS
@(webJarAssets: WebJarAssets, requireJs: RequireJS)

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dandelion</title>
    <style>
      body > .app-container {
        width: 100%;
        height: 100%;
      }
    </style>
    <link
        href='https://fonts.googleapis.com/css?family=Lato:400,300,700'
        rel='stylesheet'
        type='text/css'>
    <link
        href="@routes.Assets.versioned("styles.css")"
        type="text/css"
        rel="stylesheet">
  </head>
  <body>
    <div id="app" class="app-container"></div>
    <script src="@routes.Assets.versioned("app.js")"></script>
  </body>
</html>
