@import "shared";

.annotation {
  color: $font-color-black-dark;
  font-size: 11px;
  left: 0;
  top: -16px;
  position: absolute;
}

.card {
  @include card;

  margin: 60px 0;
}

.content {
  flex: 1 1 auto;
  padding: 16px;
}

.view-button {
  @include action-button;

  .text {
    @include action-button-text;
  }
}
