@import "../../cxi/styles/reset";

.body {
  display: flex;
  flex-direction: column;
  font-family: Lato, sans-serif;
  height: 100%;
  width: 100%;
}

.navigation {
  flex: 0 0 auto;
}

.content {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;

  .project-navigation {
    flex: 0 0 auto;
  }

  .content-panel {
    flex: 1 1 auto;
  }
}
